## GLOBAL SETTINGS
global:
  checkNewVersion: true
  sendAnonymousUsage: false

## LOGGING
log:
  level: DEBUG
  format: common

accessLog:
  format: common
  bufferingSize: 100

## API AND DASHBOARD CONFIGURATION
api:
  dashboard: true
  insecure: false

## ENTRYPOINTS
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt

## PROVIDERS
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

## CERTIFICATE RESOLVERS
certificatesResolvers:
  letsencrypt:
    acme:
      email: adria@futurprive.com
      storage: /etc/traefik/acme/acme.json
      tlsChallenge: true
